/Built
/Library
/obj
/Temp
/*.csproj
/*.log
/*.sln
/*.vrmanifest
/.vs
/.vsconfig
/Plugins/.vs
/Plugins/HierarchyDumper/bin
/Plugins/HierarchyDumper/obj
/Plugins/NullPopPoSpecial/bin
/Plugins/NullPopPoSpecial/obj
/Plugins/External*/*.dll
/Plugins/PluggableVR_BepInEx/obj
/Plugins/PluggableVR_BepInEx/bin
