/Library
/obj
/Temp
/*.vrmanifest
/*.csproj
/*.sln
/.vs
/Built
/Plugins/PluggableVR_BepInEx/External_KK/*.dll
/Plugins/PluggableVR_BepInEx/.vs
/Plugins/PluggableVR_BepInEx/Lib
/Plugins/PluggableVR_BepInEx/obj
/Plugins/PluggableVR_BepInEx/bin
