/Library
/obj
/Temp
/*.vrmanifest
/*.csproj
/*.sln
/.vs
/.vsconfig
/Built
/Plugins/PluggableVR_BepInEx/External*
/Plugins/PluggableVR_BepInEx/.vs
/Plugins/PluggableVR_BepInEx/obj
/Plugins/PluggableVR_BepInEx/bin
/*.log
/Plugins/HierarchyDumper/bin
/Plugins/HierarchyDumper/obj
/Plugins/NullPopPoSpecial/bin
/Plugins/NullPopPoSpecial/obj
/Plugins/.vs
